<div class="jouana--home-container">
    <img src="/assets/images/profil.png" class="jouana--home-portrait" alt="me">
    <div class="jouana--home-text-bloc">
        <h1 class="jouana--home-title">Antoine Carpier-Jouan</h1>
        <p class="jouana--home-text">Solution & Code lover</p>
        <div class="jouana--home-links">
            <a href="https://blog.jouana.io" rel="noreferrer noopener" target="_blank" class="icon-newspaper"></a>
            <a href="https://twitter.com/antoine_jouan" rel="noreferrer noopener" target="_blank" class="icon-twitter-bird"></a>
            <a href="https://github.com/jouana" rel="noreferrer noopener" target="_blank" class="icon-github"></a>
            <a href="https://www.linkedin.com/in/jouana/" rel="noreferrer noopener" target="_blank" class="icon-linkedin"></a>
        </div>
    </div>
</div>