<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="jouana--main-container" id="jouana--main-container">
        <section id="section1" class="jouana--section-home">
            {% include home.html %}
        </section>
        <section id="section2" class="jouana--section-missions">
            section 2
        </section>
        <section id="section3" class="jouana--section-skills">
            section 3
        </section>
    </div>
</body>
<script src="/assets/scripts/change-page-handler.js" >
</script>
<script>
    (function() {
        changePageHandler({ maxSection: 3 })
    })();
</script>
</html>